In [1]:
import pandas as pd
import numpy as np

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
new_df = pd.read_csv('xg_2017_01_withAllTime.csv', parse_dates=['Date'], date_parser=dateparse)

In [3]:
new_df['dayofweek'] = new_df['Date'].dt.weekday

In [4]:
new_df.to_csv('xg_2017_01_final.csv', index=False)

In [5]:
new_df

       PULocationID       Date  Hours  time1  time2  time3  count  dayofweek
0                 1 2017-01-01      3      0      0      0      1          6
1                 1 2017-01-01      4      0      0      1      1          6
2                 1 2017-01-01      5      0      1      1      2          6
3                 1 2017-01-01      6      1      1      2      2          6
4                 1 2017-01-01      7      1      2      2      2          6
...             ...        ...    ...    ...    ...    ...    ...        ...
89509           265 2017-01-31     19      4      4      6     12          1
89510           265 2017-01-31     20      4      6     12      8          1
89511           265 2017-01-31     21      6     12      8      8          1
89512           265 2017-01-31     22     12      8      8      8          1
89513           265 2017-01-31     23      8      8      8     13          1

[89514 rows x 8 columns]

In [6]:
del new_df['Date']

In [8]:
cols = new_df.columns.tolist()

In [9]:
cols

['PULocationID', 'Hours', 'time1', 'time2', 'time3', 'count', 'dayofweek']

In [10]:
cols = cols[-1:] + cols[:-1]

In [11]:
new_df = new_df[cols]

In [13]:
new_df

       dayofweek  PULocationID  Hours  time1  time2  time3  count
0              6             1      3      0      0      0      1
1              6             1      4      0      0      1      1
2              6             1      5      0      1      1      2
3              6             1      6      1      1      2      2
4              6             1      7      1      2      2      2
...          ...           ...    ...    ...    ...    ...    ...
89509          1           265     19      4      4      6     12
89510          1           265     20      4      6     12      8
89511          1           265     21      6     12      8      8
89512          1           265     22     12      8      8      8
89513          1           265     23      8      8      8     13

[89514 rows x 7 columns]

In [14]:
new_df.to_csv('xg_2017_01_final.csv', index=False)

In [22]:
cols = new_df.columns.tolist()
cols

['dayofweek', 'PULocationID', 'Hours', 'time1', 'time2', 'time3', 'count']

In [23]:
cols = ['dayofweek', 'Hours', 'time1', 'time2', 'time3', 'PULocationID', 'count']

In [24]:
new_df = new_df[cols]

In [26]:
new_df.to_csv('xg_2017_01_final.csv', index=False)

In [44]:
X, y = new_df.iloc[:, :-1], new_df.iloc[:, -1]

In [48]:
a = new_df.loc[:, ['PULocationID', 'count']]
a.shape

(89514, 2)

In [54]:
a.reshape(179028,1)

AttributeError: 'DataFrame' object has no attribute 'reshape'